<!DOCTYPE html>
<html>
<head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Feedback</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="../public/css/feedback.css">

</head>

<body>
    <div class="wrapper">
        <nav class="nav navbar nav-pills navbar-toggleable-md navbar-inverse">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="https://www.dashorg.co.uk/">DASH</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="./usermanagement.html">User Management</a>
                    </li>
                    <li class=" nav-item">
                        <a class="nav-link" href="./staffnews.html">News</a>
                    </li>
                    <li class="active nav-item">
                        <a class="nav-link" href="./feedback.html">Feedback</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./chat.html">Chat</a>
                    </li>
                </ul>
            </div>
        </nav>


        <div class="Feedback">
            <div class="newsContents">
                <!-- Each individual story -->
                <div class="panel-group" id="newsStory1">
                    <div class="rounded eventResult panel panel-default">
                        <!-- The stuff visible on the panel -->
                        <div class="finalNewsResults">
                            <div class="panel-title" data-toggle="collapse" data-parent="#finalNewsResults" href="#collapse">
                                <b>Title: </b>
                            </div>
                            <div class="panel-title actualTitle" data-toggle="collapse" data-parent="#finalNewsResults" id="title1" href="#collapse1"> This is the first title </div>
                        </div>

                        <div class="edit-item">
                            <a href="#"><i class="fa fa-pencil-square-o" id="news1"></i></a>
                        </div>
                    </div>
                    <!-- the stuff inside the opening -->
                    <div id="collapse1" class="panel-collapse collapse in innerPanel">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, ut odit quisquam saepe, veritatis explicabo itaque tempora, sapiente voluptas, corporis accusantium officiis rem pariatur quod? Cum ipsum, quidem ratione dolores?
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>


</html>
