<!DOCTYPE html>
<html>

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/staff.css">
    <link rel="stylesheet" href="../public/css/login.css">

    <title>Login</title>

</head>
        <body>
            <div class="wrapper">
                <nav class="nav navbar nav-pills navbar-inverse">
                    <a class="navbar-brand" href="https://www.dashorg.co.uk/">DASH</a>
                </nav>

                <br><br><br><br>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Sign in</h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-sigin" id="login">
                            <input type="username" id="username_in" class="form-control" placeholder="Username" required autofocus>
                            <br>
                            <input type="password" id="password_in" class="form-control" placeholder="Password" required>
                            <br>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
            <script src="../public/css/index.js"></script>

        </body>
    </html>